:root {
  --spacing-xs: 0.5rem;
  --spacing-base: 1rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
  --color-blue: #0065fc;
  --color-blue-light: #deebff;
  --color-grey: #f2f2f2;
  --color-dark-grey: #b9b3b3c2;
  --color-white: #ffffff;
  --color-black: #000000;
  --default-margin-left: 3rem;
  --default-box-shadow: 0px 2px 10px -4px #000000;
  --default-margin-right: 7rem;
  --border-xs: solid 1px;
  --border-base: solid 2px;
  --border-xl: solid 4px var(--color-white);
  --border-radius-xs: 0.5rem;
  --border-radius-base: 2rem;
  --border-radius-xl: 3rem;
  --pading-icon-header: 0.2rem 0.4rem;
  --font-size-xxs: 0.5rem;
  --font-size-info-icon: 0.7rem;
  --font-size-xs: 1rem;
  --font-size-base: 1.5rem;
  --font-size-xl: 2rem;
  --margin-footer: 15rem;
  --width-header-search: 25rem;
  --height-header-search: 3rem;
  --width-header-search-button: 7rem;
  --width-hebergement-img: 18rem;
  --height-hebergement-img: 11rem;
  --height-hebergement-card: 20rem;
  --width-popular-img: 9rem;
  --height-popular-img: 9rem;
  --padding-popular-card: 6rem;
  --width-activity-img: 21rem;
  --height-activity-img-large: 25rem;
  --height-activity-img: 10rem;
  --margin-popular-card-info: 0.3rem;
  --margin-bottom-card-text: 2.5rem;
  --grid-gap-group-card: 3.5rem;
  --width-activity-img-small: 19rem;
  --height-activity-img-small: 11rem;
  --height-popular-card: 10rem;
  --height-activity-img-mobile: 12rem;
  --height-activity-img-ipad: 16rem;
  --height-activity-card-ipad: 20rem;
  --height-hebergement-img-ipad: 14rem;
  --width-header-filter-button: 3rem;
  --height-header-filter-button: 3rem;
}
